body{
	font-family: $font-padrao;
}

*{outline: none;}

.no-padder{padding:0;}


// Botoes
.btn{
	-webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.btn-primary{
	background: $amarelo1 !important;
	border-color: $amarelo !important;
	color: #FFF !important;

	&:hover{ 
		background: $amarelo2 !important;
		border-color: $amarelo !important;
	}
}


//Margin
.m-t-small{margin-top:5px !important;}
.m-t{margin-top:10px !important;}
.m-t-large{margin-top:15px !important;}
.m-t-xlarge{margin-top:20px !important;}

.m-r-small{margin-right:5px !important;}
.m-r{margin-right:10px !important;}
.m-r-large{margin-right:15px !important;}
.m-r-xlarge{margin-right:20px !important;}

.m-b-small{margin-bottom:5px !important;}
.m-b{margin-bottom:10px !important;}
.m-b-large{margin-bottom:15px !important;}
.m-b-xlarge{margin-bottom:20px !important;}

.m-l-small{margin-left:5px !important;}
.m-l{margin-left:10px !important;}
.m-l-large{margin-left:15px !important;}
.m-l-xlarge{margin-left:20px !important;}


//Text
.text-default{
	font-size: 13px !important;
	color: #777 !important;
	display: flex !important;
}


//Form

.form-control:focus{
	border-color: $amarelo !important;
	box-shadow: 0 0 8px 0px rgba(255, 237, 31, 0.7) !important;
}