$base_color: #565656;
$icon_color: #fff;
$highlight_color: #ffc710;
$menu_highlight_text: #0a0a0a;
$menu_highlight_icon: #0a0a0a;
$menu_current_background: #ffc710;


@import 'colors.css';
@import '_admin.scss';
